<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243973779894-qjp91ev0ngntahklc5dtpq97m1cio5o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243973779894-qjp91ev0ngntahklc5dtpq97m1cio5o0</string>
	<key>API_KEY</key>
	<string>AIzaSyAeckVkWk7LYk8-mwEL8qi-LaN-u24rYe8</string>
	<key>GCM_SENDER_ID</key>
	<string>243973779894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vitykd.SimpleGroup</string>
	<key>PROJECT_ID</key>
	<string>simplegroup-789a3</string>
	<key>STORAGE_BUCKET</key>
	<string>simplegroup-789a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243973779894:ios:c970ec4082a4a8fced1117</string>
</dict>
</plist>